.home {
  h1 {
    text-align: center;
  }

  .separator {
    border: 3px solid black;
  }
  .title {
    margin-top: -75px;
    color: white;
    margin-bottom: 100px;
  }

  .student-list {
    list-style: none;
    display: inline-block;

    em {
      color: rgb(0,0,0);
      display: block;

    }
  }

  .about, .specialization {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .meetus {
    text-align: center;
  }

  .specialization {
    img {
      height: 100px;
      display: inline-block;
      padding: 5px;
    }
    display: block;
    text-align: center;

  }

  .about {
    p, span, h3 {
      display: block;
      font-size: 2em;
      text-align: center;
    }
  }
  .profile-cell {
    display: inline-block;
    width: 220px;
    margin: 5px auto;
    height: 500px;
    background-size: cover;
    overflow: scroll;
    background: gray;
    p {
      display: none;
      }
    text-align: center;
      span, h6, h3 {
        display: block;
        margin: 1px 1px 5px 1px;
      }
      img {
        width: 90%;
        margin: 5%;
      }
      #more {
        display: block;
        float: right;
      }
  }

  .profile-cell:hover {
    font-style: bold;
  }

}
